@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Katibeh&display=swap');

:root{
    --morado:hsl(262, 100%, 68%);
    --guinda:#910039;
    --verde:#008876;
    --verde-oscuro:#006153;
    --verde-claro:#00B19A;
    --verde-fosfo:#00B19A;
    --negro:#191A1B;
    --titulo:"Katibeh", serif;
    --contenido:"Istok Web", sans-serif;
}

main{
    margin: 2rem;
}

h1#titulo-nosotras{
    font-family: var(--titulo);
    font-size: 4rem;
    text-align: center;
    line-height: 0.7;
    margin-bottom: 0.5em;
}

h2{
    font-family: var(--contenido);
    
}

p.parrafos{
    font-family: var(--contenido);
    text-align: justify;
}


.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 4px 12px rgba(145,0,57,0.2);
} 


.card-img:hover {
  transform: scale(1.05);
} 

.card-title{
    font-family: var(--titulo);
    font-size: 2rem;
}
.card-text{
    font-family: var(--contenido);
    text-align: justify;
}

.iconos-redes{
    color:var(--guinda);

}

.iconos-redes:hover{
      transform: scale(1.05);
      
}

/*Para que todas las tarjetas se vean del mismo tamaño y alineada*/
/* .tarjetas-individuales{
    min-width: 16rem; 
    max-width: 35rem; 
    min-height: 100%; 
    max-height: 50rem;
    display: flex;
    flex-direction: column;
} */

.tarjetas-individuales {
  display: flex;
  flex-direction: column;
}

.card.tarjetas-individuales {
  height: 100%;
}


